@model SJIP_LIMMV1.Models.SearchViewModel
@using PagedList.Mvc;



    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x=>x.PagedSensorBoxInfo.First().TownCouncil)</th>
                <th>@Html.DisplayNameFor(x => x.PagedSensorBoxInfo.First().BlockNo)</th>
                <th>@Html.DisplayNameFor(x => x.PagedSensorBoxInfo.First().SIMCard)</th>
                <th>@Html.DisplayNameFor(x => x.PagedSensorBoxInfo.First().LMPD)</th>
            </tr>
        </thead>
        <tbody id="SearchDetails">
            @if (Model.PagedSensorBoxInfo.Count() == 0)
            {
                <tr>
                    <td style="border-bottom:hidden; border-left:hidden; border-right:hidden ">
                        <p style="color:red;">No Record Found</p>
                    </td>
                </tr>
            }

            @foreach (var item in Model.PagedSensorBoxInfo)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item.TownCouncil) </td>
                    <td>@Html.DisplayFor(x => item.BlockNo) </td>
                    <td>@Html.DisplayFor(x => item.SIMCard)</td>
                    <td>@Html.DisplayFor(x => item.LMPD)</td>
                </tr>

            }
        </tbody>
        <tfoot>
            <tr>
                <td class="col-sm-12" style="border-bottom:hidden; border-left:hidden; border-right:hidden ">

                    Number of record in a page:
                    @Html.DropDownListFor(m => m.PagedSensorBoxInfo.PageSize,
    Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { onchange = "pageSizeChange()" })

                    Page @(Model.PagedSensorBoxInfo.PageCount < Model.PagedSensorBoxInfo.PageNumber ? 0 : Model.PagedSensorBoxInfo.PageNumber)
                    of @Model.PagedSensorBoxInfo.PageCount

                </td>
            </tr>
        </tfoot>
    </table>

    <div id="contentPager" class="col-sm-12" style="text-align:center">
        <p>@Html.PagedListPager(Model.PagedSensorBoxInfo, page => Url.Action("pagedResult", new { page }))</p>
    </div>
